<div class="card" style="width: 40rem;">
  <div class="card-header">My Orders</div>
  <ul class="list-group list-group-flush">
    <% @orders.each do |order| %>
      <li class="list-group-item">#Order <%= order.id %> - <%= order.activity.title %></li>
    <% end %>
  </ul>
</div>